.container {
    position: fixed;
    top: 1rem;
    left: 1rem;
    bottom: 1rem;
    right: 1rem;
}

.text {
    overflow: auto;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    border: 2px solid darkgray;
    padding: 0.5rem;
}
